body {
    font-family: Arial;
    background-color: #c7129a;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.card {
    background: rgb(243, 104, 104);
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}